[Unit]
Description=oosplashkiller daemon

[Service]
Type=simple
PIDFile=/var/run/oosplashkillerd.pid
ExecStart=/usr/sbin/oosplashkillerd.sh

[Install]
WantedBy=multi-user.target
